/* reset rule*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* color */

:root{
    --color-body: #f6f8f9;
    --color-primary: white;
    --button-blue: #47adf1;
    --text-gray: #d0d5d8;
    --button-purple: #9c72e4;
    --button-lightgreen: #64c0a9;
    --button-pink: #d863a1;
    --button-orange: #f29e33;
    --button-green: #b0c926;
    --button-red: #eb5952;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: var(--color-body);
}

/*style header*/

header{
    padding: 1rem 2.2rem;
    background-color: var(--color-primary);
}

.site_logo{
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 2.8rem;
}

/* style nav add */

.nav_add{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    padding-left: 3.5rem;
    background-color: var(--color-primary);
}

.bt_add_task{
    background-color: var(--button-blue);
    color: var(--color-primary);
    border: 1px solid var(--button-blue);
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.8rem 0;
    border-radius: 0.5rem;
}

.bt_add_section{
    border: 1.5px solid var(--text-gray);
    color: var(--text-gray);
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.8rem 0;
    border-radius: 0.5rem;
}

/* style main */

main{
    width: 80%;
    margin: auto;
    margin-top: 0.3rem;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    padding-left: 3.5rem;
    background-color: var(--color-primary);
}

/* style section new task */

.section_general{
    padding-top: 3rem;
}

.title_section{
    margin-bottom: 0.4rem;
}

.triangolo{
    font-size: 12px;
    vertical-align: middle;
}

.row{
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
}

.box_check{
    color: var(--button-lightgreen);
    border-radius: 50%;
    border: 1px solid var(--button-lightgreen);
    width: 1.4rem;
    height: 1.4rem;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: 0.5rem;
}

.name{
    font-size: 24px;
    font-weight: 500;
}

.category_task_general{
    color: var(--color-primary);
    display: inline-block;
    padding: 0.5rem 0.8rem;
    margin-left: 0.5rem;
    border-radius: 0.8rem;
    font-size: small;
}

.category_task_blu{
    background-color: var(--button-blue);
}

/* style section today*/

.category_task_purple{
    background-color: var(--button-purple);
}

.box_cross{
    color: var(--button-red);
    border-radius: 50%;
    border: 1px solid var(--button-red);
    width: 1.4rem;
    height: 1.4rem;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: 0.5rem;
}

.category_task_lightgreen{
    background-color: var(--button-lightgreen);
}

.category_task_orange{
    background-color: var(--button-orange);
}

/* style section today*/

.category_task_pink{
    background-color: var(--button-pink);
}

.category_task_green{
    background-color: var(--button-green);
}

/* style footer*/

footer{
    padding-top: 1rem;
    padding-bottom: 1rem;;
    background-color: var(--color-primary);
    text-align: center;
}
